In [1]:
from datascience import *
import numpy as np

In [2]:
skyscrapers = Table.read_table('data/skyscrapers.csv')

## Numbers ##

In [3]:
4 * 5

20

In [4]:
20  # int

20

In [5]:
20 / 3  # float

6.666666666666667

In [6]:
20 / 2  # also a float

10.0

In [7]:
1234 ** 5

2861381721051424

In [8]:
1234 ** 1234

48184467781382543701667186039468406661059770237590274727670474872867568934066212120125133953550629961484891523453397766904292741725027019645437267985042784717562212455213265145073576158446772320656790521515384533153285495122560467130551068937365382642309092956110550380937116582823950116105467284919886128590021120491211422848352480419801389040432671756358444906225483817656922238136306002774235317628882806945193646888148396110892049431698226720231373322565553173892155104287328274243305595665720786784052656812367125148945799485499060066329553808509237311004983159894774937428752149540862686417306258598574741354798734543908917749037010338607293558391168741173229347205324015819180886782731783732875096308025479318621477536729557178851277749719374746640105570680704597488214460168162719035143192317718562628271959732323123847141889566569180545843169342410738692059982444746465750802950208574020617939255322870389259522352007286309084437654560750826135123276437360339867137662914521505757477954199067061537563338324827971696801982963501680500285473348151566773437596060788388816834765832275133438433921225741018069257650081651893412763515411183995641907421720698187041665296617342826301233824768831086783439617690340317902242011073693697825044232174730876417203502412742085342749470261962000902738749779130464597185957223365845266728739264096596554562810900489160285087089151363421121896616575007056439552166409310603897415780357105218172824045265515881762471530724320743935876223471758489130857861949736325801719247163392163145092104862730777665632878101469684676983177748845758819134783307275384116307332565581471205450219638137864387568253396048525319846029722597087368081615296780675739066314774724547006391416740049175425483980982557830287877118477623151223431159832554386188341940675670910313367805899112248803570997473057794418174867654496284922646065073429519234590181376956226715629044946363751414558194273837719521633486883608951520130473135848525228767697904589545099613408858934772678955107374792767376297292404355699412788887158297703071562694349633862471115563026643188726923335031942038276485070702440112289573556176109970627523424440589934713944485023114357294128614721641112627517540349238220184422744440362721622786094864017694819354467741507712876404983391152695521440373975295468154208059821687654408426427370963930322531227395895396783921477437273314199002421808939747302217153865116186806351980760710239964563379901328372415061933640351961853616394184876278706277214297206989695471340253866298118966493903627998818702216683968716037963198654625001668768390791943686432733286824675468274040171973201059002888713965690564527215419345100503188258777506372065686193271207542007415422109631813074486204833751677472525228744950194297089998305021078379670692156515896561318156670094486647187285361909788624195866103332184213842805429511053631902833667630273693526699848894312061513323511126288640008264849029913769883352116160378319937025276742846457501369721989078408607355941517261584972558483819760496804231338012065441081939772196754109683768808242484290927174759258520839532703010720373548957783991479615682174614219692539567777715560109326389875468292301222743028820913581258063284673412787274389056140124677069653486630962880192937633527058165237839406307326482619493415666561288774929091975803346338652727476500670928651812154306332363280019281880148780695662032811060669099701522746512853264775139655489705043573689252437465482977809592752059272522878781208311791893662451561020284928906469358115442883064671084339186725298116883304622860824362268174217031187839248915211550033719913619980315078125050194505282396757349145204835262063407488072671571413182055277457862261818131387963934879102237121895980689553963436483304289698371277085427432858554859126640569432899045006806292448711540736

In [9]:
4 / 700

0.005714285714285714

In [10]:
4 / 700000000000000000

5.714285714285714e-18

In [11]:
0.12345678901234567890123456789

0.12345678901234568

In [12]:
0.12345678901234567890123456789 - 0.1234567890123456789

0.0

In [13]:
10 ** 0.5

3.1622776601683795

In [14]:
16 ** 0.5

4.0

In [15]:
(10 ** 0.5) ** 2

10.000000000000002

In [16]:
20 / 10

2.0

In [17]:
int(20 / 10)

2

In [18]:
int(20 / 9)

2

In [19]:
float(3)

3.0

In [20]:
6 / 4

1.5

In [21]:
6 / 4000

0.0015

In [22]:
6 / 400000000000000000000000000000000000000000000000000000000

1.5e-56

In [23]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

6.0

In [24]:
1.5e-56

1.5e-56

In [25]:
x = 5

In [26]:
2x

SyntaxError: invalid decimal literal (207285602.py, line 1)

In [27]:
2 * x

10

In [28]:
round(3.7)

4

In [35]:
round(2.01000052345324, 2)

2.01

In [36]:
10 * 3.0

30.0

## Strings ##

In [37]:
'baby yoda'

'baby yoda'

In [38]:
"baby yoda isn't yoda"

"baby yoda isn't yoda"

In [39]:
'baby yoda isn't yoda'

SyntaxError: unterminated string literal (detected at line 1) (2037818190.py, line 1)

In [40]:
'straw' + 'berry' # concatenation

'strawberry'

In [41]:
'straw' + ' ' + 'berry'

'straw berry'

In [42]:
'ha' * 10

'hahahahahahahahahaha'

In [43]:
'lo' * 5.5

TypeError: can't multiply sequence by non-int of type 'float'

In [44]:
int('3')

3

In [47]:
int('3.0')

ValueError: invalid literal for int() with base 10: '3.0'

In [48]:
float('3.0')

3.0

In [49]:
str(3)

'3'

In [50]:
str(4.5)

'4.5'

## Types ##

In [51]:
type(10)

int

In [52]:
a = 10
type(a)

int

In [53]:
type(4.5)

float

In [54]:
type('abc')

str

In [55]:
type(skyscrapers)

datascience.tables.Table

In [56]:
type(True)

bool

In [57]:
type(abs)

builtin_function_or_method

## Arrays ##

In [58]:
my_array = make_array(1, 2, 3, 4)

In [59]:
my_array

array([1, 2, 3, 4])

In [60]:
my_array * 2

array([2, 4, 6, 8])

In [61]:
my_array ** 2

array([ 1,  4,  9, 16])

In [62]:
my_array + 1

array([2, 3, 4, 5])

In [63]:
my_array # array is unchanged

array([1, 2, 3, 4])

In [64]:
len(my_array)

4

In [65]:
sum(my_array)

10

In [66]:
sum(my_array) / len(my_array)

2.5

In [67]:
another = make_array(60, 70, 80, 90)

In [68]:
my_array + another

array([61, 72, 83, 94])

In [69]:
yet_another = make_array(5, 6, 7)

In [70]:
my_array + yet_another

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [71]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

array(['bluefin', 'albacore', 'jim'],
      dtype='<U8')

In [72]:
sum(my_array)

10

In [73]:
np.average(my_array)

2.5

In [74]:
len(my_array)

4

## Columns of Tables are Arrays ##

In [75]:
charlotte = skyscrapers.where('city', 'Charlotte')
charlotte

name                             | material       | city      | height | completed
Bank of America Corporate Center | concrete       | Charlotte | 265.48 | 1992
Duke Energy Center               | concrete/steel | Charlotte | 239.7  | 2010
Hearst Tower                     | steel/concrete | Charlotte | 200.81 | 2002

In [76]:
charlotte.select('height')

height
265.48
239.7
200.81

In [77]:
charlotte.column('height')

array([ 265.48001099,  239.69999695,  200.80999756])

In [ ]:
np.average(charlotte.column('height'))

In [ ]:
dallas = skyscrapers.where('city', 'Dallas')
dallas

In [ ]:
np.average(dallas.column('height')) - np.average(charlotte.column('height'))